/* project.scss - project page */

.project .header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 1rem;
}

.project .name-container {
	margin-left: 8px;
}

.project-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.project .title-container {
	width: 90%;
}

.subtitle {
	@extend %open-sans;
}

.project-contents {
	width: 90%;
	max-width: 500px;
	margin-top: 1.1rem;
}

.section-header {
	@extend %open-sans;
	font-weight: 700;
}

.project-description {
	@extend %open-sans;
}

@media screen and (min-width:$screen-lg) {
	.project-wrapper {
		flex-direction: row;
	}
	
	.project .header {
		padding-bottom: 3rem;
	}
}

@media screen and (min-width:$screen-xl) {
	.project .title-container {
		width: auto;
	}
}